<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Album Cover Generator</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="//unpkg.com/vue"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" type="text/css"
        href="https://unpkg.com/@tailwindcss/custom-forms@0.2.1/dist/custom-forms.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.17/tailwind.min.css">

    <style id="compiled-css" type="text/css">
        body {
            font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

        .px::after {
            content: 'px';
        }

        .percent::after {
            content: '%';
        }

        .fade-enter-active,
        .fade-leave-active {
            transition: opacity .5s;
        }

        .fade-enter,
        .fade-leave-to {
            opacity: 0;
        }

        [contenteditable] {
            outline: 0px solid transparent;
        }

        .slide-leave-active,
        .slide-enter-active {
            transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition-duration: 250ms;
        }

        .slide-enter {
            transform: translate(100%, 0);
        }

        .slide-leave-to {
            transform: translate(200%, 0);
        }
    </style>
</head>

<body>
    <div id="app" class="antialiased relative h-screen bg-gray-300">
        <div
            class="z-10 fixed top-0 left-0 w-screen border-b border-gray-900 bg-gradient-to-r from-pink-900 to-indigo-900 flex h-14">
            <h1 class="text-white text-2xl font-black mx-auto py-2 tracking-widest uppercase">
                Album Cover Generator
            </h1>
        </div>
        <div @click.self="currentMenuState = 'INITIAL'" :class="{'overflow-hidden':currentProgressState === 'INITIAL'}"
            class="z-0 w-full h-screen flex relative lg:overflow-hidden">
            <div class="mx-auto pt-16 px-4 my-4">
                <div class="relative overflow-hidden "
                    :class="{'ring-2 ring-pink-400':menuState[currentMenuState].showImageMenu}"
                    :style="{width:`${image.width}px`,height:`${image.height}px`}">
                    <img class="absolute w-full h-auto transition-opacity duration-600"
                        @click="currentMenuState = 'EDIT_IMAGE'"
                        :class="{'opacity-0':!progressState[currentProgressState].showImage}"
                        @load="currentProgressState = 'IMAGE_LOADED'" :src="imageUrl" alt="">
                    <div v-show="progressState[currentProgressState].showPlaceholder"
                        class="absolute relative inset-0 bg-gray-400 flex justify-center items-center"
                        :style="{width:`${image.width}px`,height:`${image.height}px`}">
                        <img v-show="oldUrl" class="absolute w-full h-auto filter blur-md" :src="oldUrl" alt="">
                        <span class="absolute bg-black text-white font-bold px-2"
                            v-if="progressState[currentProgressState].showLoading">Loading</span>
                        <span class="absolute text-lg font-bold text-white"
                            v-if="progressState[currentProgressState].showInitial">
                            Click
                            Generate
                            image</span>
                    </div>
                    <div ref="textContent" id="textContent" v-show="progressState[currentProgressState].showText"
                        @mousedown="dragMouseDown" @dblclick="makeContentEditable" @keydown.enter.prevent="keydownEnter"
                        :class="{'cursor-text':text.editable,'cursor-move':!text.editable,'ring-2':menuState[currentMenuState].showTextMenu,[text.dropShadow]:true}"
                        class="absolute filter  px-2 font-semibold group  ring-pink-400" :style="textContentStyles">
                        <span :contenteditable="text.editable" @input="changeTextContent"
                            :class="`${text.weight} ${text.family}`">
                            {{text.content}}
                        </span>
                        <div ref="textContentEdit" @click.prevent="makeContentEditable"
                            class="opacity-0 group-hover:opacity-100 absolute text-white bg-gray-400 shadow-lg rounded cursor-pointer -mt-4 -mr-4 top-0 right-0 ">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <transition name="slide">
                <div v-if="menuState[currentMenuState].showMenu"
                    class="absolute w-1/2 md:w-1/4 lg:w-1/5 right-0 bg-gray-100 h-full pt-14">
                    <div class="flex justify-between bg-indigo-900 py-2">
                        <div class="cursor-pointer text-white ml-2" @click="currentMenuState = 'INITIAL'">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </div>
                        <div class="inline-flex mr-4 tracking-widest  text-gray-100">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                            </svg>
                            <span v-if="currentMenuState ==='EDIT_TEXT'">Text
                                options</span>
                            <span v-if="currentMenuState ==='EDIT_IMAGE'">Image Options</span>
                        </div>
                    </div>
                    <div v-if="menuState[currentMenuState].showTextMenu" class="flex flex-wrap p-2">
                        <div class="w-full my-2 pt-2  ">
                            <h3 class="font-light text-xs tracking-wide text-gray-500 uppercase">Font</h3>
                        </div>
                        <div class="w-full my-2  flex flex-wrap px-2 ">
                            <label class="mt-1" for="fontsize">
                                <svg class="w-6 h-6 p-1 text-gray-600" viewBox="0 0 14 14"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14 1H0V0h14v1zm0 13H0v-1h14v1z" fill-rule="nonzero" fill-opacity="1"
                                        fill="currentColor" stroke="none"></path>
                                    <path
                                        d="M3.548 11l2.8-8h1.304l2.8 8h-.954l-.7-2H5.202l-.7 2h-.954zM7 3.862L8.448 8H5.552L7 3.862z"
                                        fill-rule="evenodd" fill-opacity="1" fill="currentColor" stroke="none"></path>
                                </svg>
                            </label>
                            <input name="fontsize"
                                class="w-16 form-input text-sm mt-1 h-6 p-1 focus:ring focus:ring-pink-400"
                                type="number" @input="calculateDimensions()" min="10" max="64" step="2"
                                v-model="text.size">
                            <select v-model="text.weight"
                                class="form-select text-sm mt-1 ml-2 w-28 p-0 pl-2 h-6 pr-6 focus:ring focus:ring-pink-400"
                                name="fontWeight">
                                <option :key="weight.value" v-for="weight of fontWeightOptions[text.family]"
                                    :selected="weight.selected" :value="weight.value">{{weight.description}}</option>
                            </select>
                            <select v-model="text.family" @change="setFontWeight"
                                class="form-select text-sm mt-1 ml-2 w-28 p-0 pl-2 h-6 pr-6 focus:ring focus:ring-pink-400"
                                name="dropShadow">
                                <option value="font-sans">Sans</option>
                                <option value="font-serif">Serif</option>
                                <option value="font-mono">Mono</option>
                            </select>
                        </div>
                        <div class="w-full mb-2   mt-2 pt-2  border-t-2 border-gray-300">
                            <h3 class="font-light text-xs  tracking-widest text-gray-500 uppercase">Colors</h3>
                        </div>
                        <div class="w-full my-2  px-2 pt-1 flex flex-wrap">
                            <label class="w-full  text-gray-700" for="textcolor">Text Color</label>
                            <input name="textcolor" class="w-6" type="color" v-model="text.color">
                            <p class="w-16 ml-2 text-sm  text-gray-500">{{text.color}}</p>
                            <input name="fontOpacity"
                                class="w-16 form-input text-sm ml-4  h-6 p-1 focus:ring focus:ring-pink-400 percent"
                                min="0" max="100" type="number" v-model="text.textOpacity">
                            <span class="ml-1 text-gray-600 font-semibold">%</span>
                        </div>
                        <div class="w-full my-2  px-2 flex flex-wrap">
                            <label class="w-full text-gray-700" for="backgroundcolor">Background color</label>
                            <input name="backgroundcolor" class="w-6" type="color" v-model="text.backgroundColor">
                            <p class=" w-16 py-1 ml-2 text-sm  text-gray-500">{{text.backgroundColor}}</p>
                            <input name="backgroundOpacity"
                                class="w-16 form-input text-sm ml-4  h-6 p-1 focus:ring focus:ring-pink-400 percent"
                                min="0" max="100" type="number" v-model="text.backgroundOpacity">
                            <span class="ml-1 text-gray-600 font-semibold">%</span>
                        </div>
                        <div class="w-full mb-2   mt-2 pt-2  border-t-2 border-gray-300">
                            <h3 class="font-light text-xs  tracking-widest text-gray-500 uppercase">Shadow</h3>
                        </div>
                        <div class="w-full my-2 flex flex-wrap">
                            <select v-model="text.dropShadow"
                                class="form-select text-sm mt-1 ml-2 w-28 p-0 pl-2 h-6 pr-6  focus:ring focus:ring-pink-400"
                                name="dropShadow">
                                <option value="drop-shadow-sm">Small</option>
                                <option value="drop-shadow">Normal</option>
                                <option value="drop-shadow-md">Medium</option>
                                <option value="drop-shadow-lg">Large</option>
                                <option value="drop-shadow-xl">Extra large</option>
                                <option value="drop-shadow-2xl">Extra extra large</option>
                                <option value="drop-shadow-none">None</option>
                            </select>
                        </div>
                    </div>
                    <div v-if="menuState[currentMenuState].showImageMenu" class="h-full flex flex-wrap flex-col p-2">
                        <div class="w-full mb-2  mt-2 pt-2 ">
                            <h3 class="font-light text-xs  tracking-widest text-gray-500 uppercase">Size</h3>
                        </div>
                        <div class="w-full my-2  px-2 flex">
                            <label class="mr-1 text-sm text-gray-700" for="imagewidth">w</label>
                            <input name="imagewidth"
                                class="w-16 form-input text-sm h-6 p-1 focus:ring focus:ring-pink-400" type="number"
                                v-model="image.width">
                            <label class="ml-4 mr-1 text-sm  text-gray-700" for="imageheight">h</label>
                            <input name="imageheight"
                                class="w-16 form-input text-sm h-6 p-1 focus:ring focus:ring-pink-400" type="number"
                                v-model="image.height">
                        </div>
                        <div class="w-full mb-2 pt-2 border-t-2 border-gray-300">
                            <h3 class="font-light text-xs  tracking-widest text-gray-500 uppercase">Effects</h3>
                        </div>
                        <div class="w-full my-2 px-2 flex flex-wrap">
                            <label class="flex flex-row items-center">
                                <input type="checkbox" v-model="image.grayscale"
                                    class="form-checkbox h-4 w-4 bg-gray-200 border-none text-pink-500 rounded focus:ring focus:ring-pink-400 disabled:opacity-50" />
                                <span class="ml-2 w-8 text-gray-700">Grayscale</span>
                            </label>
                        </div>
                        <div class="w-full my-2 px-2 flex flex-wrap">
                            <input name="imageblur"
                                class="w-12 form-input text-sm h-6 p-1 focus:ring focus:ring-pink-400" min="0" max="10"
                                type="number" v-model="image.blur">
                            <label class="ml-2 w-8 text-gray-700" for="textcolor">Blur</label>
                        </div>
                        <div class="w-full px-2 flex flex-auto justify-center items-end pb-10">
                            <button
                                class="bg-pink-500 inline-flex font-bold text-xl text-white px-4 py-2 rounded hover:bg-pink-400 transition-all"
                                @click.prevent="getRandomSeed">New
                                Image
                                <svg xmlns="http://www.w3.org/2000/svg" class="my-1 ml-2 h-6 w-6" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </transition>
            <div v-if="currentProgressState === 'INITIAL'"
                class="fixed h-screen w-screen bg-black opacity-90 flex justify-center items-center">
                <button
                    class="bg-pink-500 font-bold text-2xl text-white px-4 py-2 rounded hover:bg-pink-400 transition-all"
                    @click.prevent="getRandomSeed">Generate
                    Image</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        new Vue({
            el: "#app",
            data: () => ({
                oldUrl: '',
                text: {
                    showMenu: false,
                    editable: false,
                    content: 'Edit Content',
                    weight: 'font-semibold',
                    family: 'font-sans',
                    size: 22,
                    color: '#000000',
                    dropShadow: 'drop-shadow-none',
                    textOpacity: 100,
                    backgroundColor: '#ffffff',
                    backgroundOpacity: 100,
                    width: 0,
                    height: 0,
                    xOffset: 30,
                    yOffset: 30,
                    xPosition: 0,
                    yPosition: 0,
                    xMovement: 0,
                    yMovement: 0
                },
                image: {
                    showMenu: false,
                    seed: '',
                    isImageLoaded: false,
                    width: 800,
                    height: 800,
                    grayscale: false,
                    blur: 0
                },
                // Mini state machines to manage UI state
                currentMenuState: 'INITIAL',
                menuState: {
                    'INITIAL': {
                        showMenu: false,
                        showTextMenu: false,
                        showImageMenu: false
                    },
                    'EDIT_TEXT': {
                        showMenu: true,
                        showTextMenu: true,
                        showImageMenu: false
                    },
                    'EDIT_IMAGE': {
                        showMenu: true,
                        showTextMenu: false,
                        showImageMenu: true
                    }
                },
                currentProgressState: 'INITIAL',
                progressState: {
                    'INITIAL': {
                        showInitial: true,
                        showText: false,
                        showImage: false,
                        showLoading: false,
                        showPlaceholder: true
                    },
                    'IMAGE_LOADING': {
                        showInitial: false,
                        showText: false,
                        showImage: false,
                        showLoading: true,
                        showPlaceholder: true
                    },
                    'IMAGE_LOADED': {
                        showInitial: false,
                        showText: true,
                        showImage: true,
                        showLoading: false,
                        showPlaceholder: false
                    }
                }
            }),
            methods: {
                calculateDimensions() {
                    // getBoundingClientRect is more precise than clientHeight
                    this.text.height = this.$refs.textContent.getBoundingClientRect().height
                    this.text.width = this.$refs.textContent.getBoundingClientRect().width

                },
                changeTextContent(e) {
                    this.text.content = e.target.innerText
                    // Use nextTick to get dimensions after every input https://vuejs.org/v2/api/#Vue-nextTick
                    this.$nextTick(() => {
                        this.calculateDimensions()
                    })
                },
                clickEvent(e) {
                    // Homemade click-outside
                    if (!(e.target === this.$refs.textContent || this.$refs.textContent.contains(e.target))) {
                        window.getSelection().removeAllRanges()
                        this.text.editable = false
                    }
                },
                closeDragEvent() {
                    // Remove eventlisteners
                    document.onmouseup = null
                    document.onmousemove = null
                },
                dragElement(e) {
                    // Prevent normal drag event
                    event.preventDefault()
                    this.text.xMovement = this.text.xPosition - e.clientX
                    this.text.yMovement = this.text.yPosition - e.clientY
                    this.text.xOffset = this.$refs.textContent.offsetLeft
                    this.text.yOffset = this.$refs.textContent.offsetTop
                    this.text.xPosition = e.clientX
                    this.text.yPosition = e.clientY
                },
                dragMouseDown(e) {
                    this.currentMenuState = 'EDIT_TEXT'
                    if (!this.text.editable) {
                        event.preventDefault()
                        this.text.xPosition = e.clientX
                        this.text.yPosition = e.clientY
                        document.onmousemove = this.dragElement
                        document.onmouseup = this.closeDragEvent
                    }
                },
                keydownEnter(e) {
                    // Stop text input on enter
                    if (e.keyCode === 13) {
                        this.text.editable = false
                    }
                },
                getRandomSeed() {
                    // Save imageURL to display something while new image is loading
                    this.oldUrl = this.imageUrl
                    this.currentProgressState = 'IMAGE_LOADING'
                    // Math.random isnt really random, to add randomness add radix to toString method and extract a useable string by removing '1.' in node I would use crypto, probably shouldnt be generating random strings anyways.
                    this.image.seed = (Math.random() + 1).toString(36).substring(2)
                },
                makeContentEditable() {
                    this.text.editable = true
                    this.$nextTick(() => {
                        // Select the span inside the element
                        this.$refs.textContent.children[0].focus()
                        document.execCommand('selectAll', false, null);
                    })
                },
                setFontWeight() {
                    this.text.weight = 'font-normal'
                }
            },
            computed: {
                fontWeightOptions() {
                    return {
                        'font-sans': [
                            { value: 'font-thin', description: 'Thin' },
                            { value: 'font-extralight', description: 'Extra light' },
                            { value: 'font-light', description: 'Light' },
                            { value: 'font-normal', description: 'Normal' },
                            { value: 'font-medium', description: 'Medium' },
                            { value: 'font-semibold', description: 'Semi-bold' },
                            { value: 'font-bold', description: 'Bold' },
                            { value: 'font-extrabold', description: 'Extra bold' },
                            { value: 'font-black', description: 'Black' }
                        ],
                        'font-serif': [
                            { selected: true, value: 'font-normal', description: 'Normal' },
                            { value: 'font-bold', description: 'Bold' }
                        ],
                        'font-mono': [
                            { selected: true, value: 'font-normal', description: 'Normal' },
                            { value: 'font-bold', description: 'Bold' }
                        ]
                    }
                },
                imageUrl() {
                    let result = ''
                    if (this.image.seed) {
                        result = `https://picsum.photos/seed/${this.image.seed}/${this.image.width}/${this.image.height}`
                        const options = []
                        if (this.image.grayscale) {
                            options.push('grayscale')
                        }
                        if (this.image.blur > 0) {
                            options.push(`blur=${this.image.blur}`)
                        }
                        if (options.length) {
                            result += `?${options.join('&')}`
                        }
                    }
                    return result
                },
                textContentStyles() {
                    return {
                        fontSize: `${this.text.size}px`,
                        // Generate the rgba() value of the hex to enable modification of opacity
                        color: `rgba(${parseInt(this.text.color.slice(-6, -4), 16)},${parseInt(this.text.color.slice(-4, -2), 16)},${parseInt(this.text.color.slice(-2), 16)},${this.text.textOpacity / 100})`,
                        backgroundColor: `rgba(${parseInt(this.text.backgroundColor.slice(-6, -4), 16)},${parseInt(this.text.backgroundColor.slice(-4, -2), 16)},${parseInt(this.text.backgroundColor.slice(-2), 16)},${this.text.backgroundOpacity / 100})`,
                        // Limit the positioning of the textContent to inside of the image
                        left: `${Math.min(Math.max((this.text.xOffset - this.text.xMovement), 0), (this.image.width - this.text.width))}px`,
                        top: `${Math.min(Math.max((this.text.yOffset - this.text.yMovement), 0), (this.image.height - this.text.height))}px`
                    }
                }
            },
            mounted() {
                // Get initial dimensions
                this.calculateDimensions()
                // Register my click-outside on the page
                document.body.addEventListener('click', this.clickEvent)
                // Load state of project on mounted
                const saveState = JSON.parse(localStorage.getItem('saveState'))
                if (saveState !== null) {
                    Object.keys(this.$data).forEach(key => {
                        this[key] = saveState[key]
                    })
                }
                if (this.text.color === '#000') {
                    this.text.color = '#000000'
                }
            },
            updated() {
                // Save state of project on update
                localStorage.setItem('saveState', JSON.stringify(this.$data))
            },
            beforeDestroy() {
                // Remove my click-outside on the page
                window.removeEventListener('click', this.clickEvent);
            },
        })
    </script>
</body>

</html>